@font-face {
    font-family: "Poppins_light";
    src: url("../Assets/fonts/Poppins-Light.ttf");
    font-display: swap;
}

@font-face {
    font-family:"Poppins_regular";
    src: url("../Assets/fonts/Poppins-Regular.ttf");
    font-display: swap;
}

@font-face {
    font-family: "Poppins_medium" ;
    src: url("../Assets/fonts/Poppins-Medium.ttf");
    font-display: swap;
}

@font-face {
    font-family: "Poppins_semibold";
    src: url("../Assets/fonts/Poppins-SemiBold.ttf");
    font-display: swap;
}

:root{
    --font-light: Poppins_light, "sans-serif";
    --font-regular: Poppins_regular, "sans-serif";
    --font-medium: Poppins_medium, "sans-serif";
    --font-semibold: Poppins_semibold, "sans-serif;"
}