:root {
    --h-half: 50%;
    --w-half: 50%;

    --h-screen: 100vh;
    --w-screen: 100vw;

    --br-radius-full: 100%;
    --br-radius-half: 50%;

    --w-profile-picture: 50px;
    --h-profile-picture: 50px;

    --h-sidebar-header : 100px;
    --w-app-sidebar: 84px;
    --w-chatlist-container: 600px;
    
    /* chatlist area heights for calc function  */
    --h-search-bar: 80px;
    --h-chatlist-header: 100px;
    --h-archieve-container: 50px;

    /* conversation area heights for calc function  */
    --h-conversation-header: 100px;
    --h-conversation-footer: 70px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: var(--c-grey-300);
    /* background-color: var(--c-black); */
    font-size: 12px;
    font-family: var(--font-regular);
    line-height: 1.5; 
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
  }
 
::placeholder{
    color:var(--c-grey-300);
    font-family: var(--font-regular);
}
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: var(--c-blue-200);
}