.app-container {
	display: flex;
	max-width: 1700px;
	height: var(--h-screen);
	margin: 0px auto;
}

/* side-bar */
.app-sidebar {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: var(--w-app-sidebar);
	padding-bottom: 50px;
}

.app-sidebar-menu,
.app-sidebar-menu>ul {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: var(--w-full);
}

.app-logo-container {
	display: grid;
	place-items: center;
	height: 100px;
}

.app-logo-container>a>img {
	display: block;
	height: 44px;
	width: 44px;
}

.app-sidebar-icon>a {
	display: flex;
	align-items: center;
	justify-content: center;
	width: var(--w-full);
	height: 50px;
	font-size: 24px;
	color: var(--c-gray-300);
}

.selected {
	font-size: 30px;
	color: var(--c-blue-300);
	margin-right: 5px;
	border-left: 5px solid var(--c-blue-300);
}

/* ---------------------------- */
.chat-container {
	display: flex;
	width: calc(100% - var(--w-app-sidebar));
}

/* app-chat SECTION - 1 */
.chatlist-section {
	width: var(--w-chatlist-container);
	background-color: var(--c-blue-100);
}

/* header */
.chatlist-header,
.chatconversation-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: var(--h-chatlist-header);
	padding: 0 22px;
	border-bottom: 1px solid var(--c-grey-200);
}

.chatlist-user-details,
.chatconversation-user-details {
	display: flex;
	align-items: center;
	gap: 12px;
}

.user-avatar {
	display: block;
	width: var(--w-profile-picture);
	height: var(--h-profile-picture);
	border-radius: var(--br-radius-full);
	object-fit: cover;
}

.user-name {
	font-family: var(--font-semibold);
	font-size: 14px;
	color: var(--c-black);
}

/* search box */
.chatlist-searchbox {
	height: var(--h-search-bar);
	padding: 20px 16px;
	position: relative;
}

.chatlist-searchbox>img {
	width: 15px;
	position: absolute;
	top: 30px;
	left: 30px;
}

.chatlist-searchbox>input {
	width: var(--w-full);
	padding: 10px 32px 10px 34px;
	border-radius: 25px;
}

/* archive box */
.chatlist-archivebox {
	display: flex;
	align-items: center;
	justify-content: center;
	width: var(--w-full);
	height: var(--h-archieve-container);
}

.chatlist-archive-btn {
	height: max-content;
	color: var(--c-grey-300);
}

/*contacts list box */
.chatlist-contactbox {
	height: calc(100% - (var(--h-chatlist-header) + var(--h-archieve-container) + var(--h-search-bar)));
	padding: 0 10px;
	overflow-y: auto;
}

.chatlist-contact-link {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 12px;
	padding: 13px 16px;
	color: var(--c-black);
	border-radius: 8px;
}

.chatlist-contact-image {
	display: block;
	width: var(--w-profile-picture);
	height: var(--h-profile-picture);
	border-radius: var(--br-radius-full);
	object-fit: cover;
}

.chatlist-contact-link:hover {
	background-color: var(--c-blue-200);
}


.chatlist-contact-info {
	width: var(--w-full);
}

.chatlist-contact-name {
	font-family: var(--font-medium);
	font-size: 16px;
	font-weight: 500;
}

.chatlist-contact-more {
	text-align: center;
	position: relative;
}

.unread-count-container {
	display: inline-block;
	width: 20px;
	height: 20px;
	background-color: var(--c-blue-300);
	border-radius: var(--br-radius-half);
}

.unread-count {
	color: var(--c-white);
	position: absolute;
	bottom: 23px;
	left: 21px;
}

.chatlist-time {
	color: var(--c-grey-300);
}

.read-recipts {
	font-size: 22px;
	color: var(--c-grey-200)
}

.active>.chatlist-contact-link {
	background-color: var(--c-blue-300);
	color: var(--c-white);
}

.active .secondary-text,
.active .chatlist-time {
	color: var(--c-grey-100)
}

/* app-conversation-sections */
.chatconversation-section {
	width: var(--w-full);
}

/* header */
.chatconversation-icons {
	display: flex;
	gap: 10px;
}

.icon-btn {
	width: 35px;
	height: 35px;
	background-color: var(--c-grey-100);
	font-size: 22px;
	color: var(--c-grey-300);
	border-radius: 8px;
}

.icon-btn:hover {
	color: var(--c-blue-300);
}

/* current-conversation-day */
.chatconversation-main {
	height: calc(100% - (var(--h-conversation-header) + var(--h-conversation-footer)));
	padding: 20px;
	overflow-y: auto;
}

.chatconversation {
	display: flex;
	flex-direction: column;
	gap: 15px;

}

.current-convo-day {
	display: flex;
	justify-content: center;
	margin-bottom: 12px;
}

.day {
	padding: 5px 14px;
	background-color: var(--c-blue-100);
	border-radius: 25px;
}

.sender-message {
	max-width: max-content;
	padding: 15px 25px;
	background-color: var(--c-blue-100);
	font-size: 10px;
	border-radius: 0 20px 20px 20px;
}

.sender-message>p {
	font-size: 14px;
	color: var(--c-black);
	margin-bottom: 6px;
	text-align: justify;
}

.receved-message {
	max-width: max-content;
	padding: 15px 25px;
	background-color: var(--c-blue-300);
	font-size: 10px;
	color: var(--c-white);
	border-radius: 20px 0 20px 20px;
	align-self: flex-end;
}

.receved-message>p {
	font-size: 14px;
	margin-bottom: 6px;
	text-align: justify;
}

.stack-image>img {
	width: 200px;
	height: 140px;
	margin-right: 10px;
	border-radius: 10px;
	object-fit: cover;
}

/* footer */
.chatconversarion-footer {
	height: var(--h-conversation-footer);
	padding: 10px 20px;
}

.chatconversarion-inputbox {
	display: flex;
	align-items: center;
	gap: 10px;
	height: 45px;
	padding: 0 10px;
	background-color: var(--c-blue-100);
	color: var(--c-grey-300);
	border-radius: 25px;
}

.emoj>img {
	display: block;
	width: 30px;
	height: 30px;
}

.chat-input {
	width: var(--w-full);
	background-color: var(--c-blue-100);
	margin-right: auto;
}

.chat-icons {
	display: flex;
	align-items: center;
	gap: 20px;
	padding: 0 10px;
	font-size: 22px;
}

.chat-icons :nth-child(3) {
	color: var(--c-blue-300);
}